<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo departamento</title>
</head>
<body>
    <h1>Nuevo departamento</h1>
    <form action="" method="post"> {% csrf_token %}
        <h3>Datos empleado</h3>
        <p>{{form.first_name}}</p>
        <p>{{form.last_name}}</p>
        
        <h3>Datos departamento</h3>
        <p>{{form.dpto}}</p>
        <p>{{form.short_dpto}}</p>
        
        <button type="submit">Guardar</button>
    </form>
    
</body>
</html>