{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/includes/listar_todos_empleados.css' %}">
    <link rel="stylesheet" href="{% static 'css/includes/style_header.css' %}">
                
    <title>{% block title %}{% endblock title %}</title>
</head>
                   
<body>
    {% block content %}{% endblock content %}
                        
    <script src="{% static 'js/persona/listar_empleados.js' %}"></script>
</body>
                            
</html>